canvas {
  outline: none;
}

#container {
  display: flex;
  justify-content: space-between;
}

.left, .right {
  flex: 1;
  text-align: left;
}

.right {
  text-align: right;
}


body { 
  margin: 0; 
  padding: 0; 
  overflow: auto;
}

body * {
-webkit-touch-callout: none;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

.map-nav {
  height: 10%;
  background-color: #EBFAFF;
  padding: 15px;
  display: flex;
  justify-content: space-evenly;
  border: 1px solid #e7e7e7;
}

.navItem {
  background-color: #fff;
  font-size: 18px;
  border: none;
  padding: 16px;
}

.map {
  position: absolute;
  top: 28%;
  bottom: 0;
  width: 97.5%;
}

.map2 {
  height: 700px;
  margin-top: 20px;
}

.mapboxgl-compare {
  height: 700px;
}

.map-overlay {
  position: absolute;
  top: 80%;
  right: 20px;
  background: rgba(255, 255, 255, 0.8);
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.2);
  margin-left: 20px;
  font-family: 'Open Sans', sans-serif;
  overflow: auto;
  border-radius: 3px;
}

.map-overlay2 {
  position: absolute;
  top: 159%;
  right: 20px;
  background: rgba(255, 255, 255, 0.8);
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.2);
  margin-left: 20px;
  font-family: 'Open Sans', sans-serif;
  overflow: auto;
  border-radius: 3px;
}

.map-overlay3 {
  position: absolute;
  top: 28.5%;
  left: 20px;
  background: rgba(255, 255, 255, 0.8);
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.2);
  margin-left: 20px;
  font-family: 'Open Sans', sans-serif;
  overflow: auto;
  border-radius: 3px;
  padding: 10px;
}

.map-overlay4 {
  position: absolute;
  top: 117%;
  left: 20px;
  background: rgba(255, 255, 255, 0.8);
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.2);
  margin-left: 20px;
  font-family: 'Open Sans', sans-serif;
  overflow: auto;
  border-radius: 3px;
  padding: 10px;
}

#comparison-container {
  height: 700px;
  overflow: auto;
}

#legend, #legend2 {
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  line-height: 16px;
  height: 180px;
  margin-bottom: 40px;
  width: 150px;
}

#legend2 {
  height: 220px;
}

.legend-key {
  display: flex;
  border-radius: 20%;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  float: left;
  align-items: center;
  margin-top: 3px;
}

/* Dropdown Button */
.dropbtn {
background-color: #fff;
color: black;
padding: 16px;
font-size: 18px;
border: none;
}

.dropdown {
position: relative;
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content p {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdown-content p:hover {background-color: lightcoral;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: lightsalmon;}
/* Dropdown Button */